* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	min-width: 439px;
	padding: 25px;
	margin: 0;
	/*background: -webkit-gradient(linear, 100% 0%, 0% 0%, from(#E8EAEC), to(#eaecee), color-stop(.5,#F4F4F5));*/
	background: url(/img/edge.png) repeat-x center 100px #474e52;
	text-align: center;
	text-shadow: 0px -1px 1px #000;
}

.playing {
	font-weight: bold;
}

#drop_area {
	font-size: 55px;
	border-radius: 15px;
	padding: 15px;
	height: 80px;
	width: 100%;
	text-align: center;

}

#player_wrapper {
	position: relative;
	width: 100%;
	height: 300px;
	margin-top: 33px;
}

#controls {
	float: left;
	height: 30px;
	width: 95px;
}

#controls a {
	left: 5px;
	top: 5px;
	position: relative;
	cursor: pointer;
}

.wrapper {
	width: 1159px;
	margin: 0 auto;
	right:0;
	left:0;
}

#player_wrapper .seperator {
	margin: -10px 10px;
}

#controls .pause {
	display: none;
}

#progress {
	height: 30px;
	margin: 0px 75px 0px 95px;
}

#progress_wrapper {
	width: 100%;
	top: 8px;
	height: 20px;
	background: none;
	position: relative;
}

#progress_background {
	height: 8px;
	position: absolute;
	top: 4px;
	left: 0;
	width: 100%;
	cursor: pointer;
	overflow: hidden;
	background: #252727;
	border-radius: 3px;
	box-shadow: 0px 1px 0px rgba(255,255,255,0.1);
}

#top_bar {
	position:absolute;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4f5257), to(#2a2d32));
	left: 67px;
	right: 67px;
	height: 30px;
	top: -31px;
	border: 1px solid #1e2023; 
	box-shadow: 0px 1px 0px rgba(255,255,255, 0.15) inset, 0px 5px 3px rgba(0,0,0, 0.1);
	border-radius: 4px 4px 0px 0px;
	z-index: 1;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	color: #fff;
}

#case {
	/*background: url(/img/back-nocase2.png) top center;*/
	left: 67px;
	right: 67px;
	height: 261px;
	padding-top: 45px;
	position:absolute;
	border-radius: 0px 0px 2px 2px;
	line-height: 60px;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	color: #fafafa;
	text-shadow: 0px 0px 5px rgba(0,0,0, 0.5);
}

#audio {
	display: none;
}

#progress_bar {
	height: 6px;
	position: absolute;
	top: 5px;
	left: 1px;
	width: 0%;
	cursor: pointer;
	overflow: hidden;
	background: url(/img/progress2.png);
	border-radius: 2px;
	box-shadow: 0px 0px 6px 1px rgba(247, 85, 145, 0.8);
}

#extras {
	float: right;
	height: 30px;
	width: 70px;
}

li a {
	margin-left: 15px;
	float: right;
}

#extras a {
	right: 5px;
	top: 5px;
	position: relative;
	cursor: pointer;
}

#extras .shuffle_on {
	display:none;
}

#extras .repeat_on {
	display: none;
}

#player_bar {
	position:absolute;
	/*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#484a4c), to(#2b2d2d));*/
	background: url(/img/back-nocase2.png) bottom center;
	left: 67px;
	right: 67px;
	height: 30px;
	top: 230px;
	border: 1px solid #42464b;
	box-shadow: 0px 1px 0px rgba(255,255,255, 0.15) inset;
	border-radius: 4px;
}

aside.menu {
	width: 250px;
	float: left;
	border: 1px solid #181818;
	border-bottom: none;
}

.menu .header {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c4f54), to(#2a2d32));
	border-top: 1px solid #5c5f63;
	border-bottom: 1px solid #181818;
	height: 36px;
	font-size: 15px;
	line-height: 36px;
	color: #fff;
	text-shadow: none;
	text-align: left;
	cursor: pointer;
}

.menu .header:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eb438a), to(#db276f));
	border-top: 1px solid #ef6ab5;
	border-bottom: 1px solid #8f1a5c;
}

.menu .header:hover .count {
	background: #a12148;
	border-bottom: 1px solid #e44c73;
}

.menu .header.active, .menu .header.active:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#43c4ea), to(#279adc));
	border-top: 1px solid #6ad2ef;
	border-bottom: 1px solid #1a638f;
	cursor: default;
}

.menu .header .count {
	float: right;
	border-radius: 10px;
	background: #222325;
	line-height: 15px;
	top: 9px;
	right: 15px;
	padding: 1px 5px;
	position: relative;
	font-size: 10px;
	font-weight: bold;
	min-width: 15px;
	border-bottom: 1px solid #5c5f63;
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.20);
}

.menu .header.active .count {
	background: #2173a1;
	border-bottom: 1px solid #4cb1e4;
}

.menu .header .image {
	float: left;
	position: relative;
	width: 24px;
	height: 24px;
	background-position: top center;
	left: 10px;
	top: 5px;
	margin-right: 15px;
}

.image.playlist {
	background: url(/img/playlist.png);
}

.menu .content {
	background: #ffffff;
	border-bottom: #33373d;
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.4);
}

.menu span.count {
	text-align: center;
}

.menu .content li {
	display: block;
	border-bottom: 1px solid #efeff0;
	height: 36px;
	line-height: 36px;
	color: #878d95;
	font-size: 12px;
	font-weight: bold;
	text-shadow: none;
	padding-left: 40px;
	text-align: left;
}

.menu li:hover {
	text-decoration: none;
	color: #6ad2ef;
	cursor: pointer;
}

.menu .content .count {
	float: right;
	border-radius: 10px;
	line-height: 15px;
	top: 9px;
	right: 15px;
	padding: 1px 5px;
	position: relative;
	font-size: 10px;
	font-weight: bold;
	min-width: 15px;
	border: 1px solid #878d95;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.20);
}

.shadow {
	position: relative;
	top: -40px;
	width: 100%;
	height: 100px;
	top: 189px;
	min-width: 439px;
	z-index: -55;
}

.shadow_left {
	position: absolute;
	width: 216px;
	left: 25px;
	top: 0;
	height: 100px;
	background: url(/img/shadow_left.png);
}
.shadow_right {
	position: absolute;
	width: 223px;
	right: 25px;
	top:0;
	height: 100px;
	background: url(/img/shadow_right.png);
}

.shadow_spacer {
	height: 100px;
	position: absolute;
	top: 1px;
	left: 241px;
	right: 248px;
	background: url(/img/shadow_spacer.png);
}

output ul, output li {
	display:inline-block;
	width: 700px;
	text-align: left;
}

output li {
	cursor: pointer;
	color: #fff;
	font-size: 15px;
	text-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
}

output li a {
	color: rgba(247, 85, 145, 1);
}

li:hover {
	text-decoration: underline;
}